.add-service-container {
    color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    min-height: 87vh;
}

.add-service-form-container {
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.add-service-container h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
}

.add-service-container input,
.add-service-container textarea,
.add-service-container input[type="date"] {
    width: 100% !important;
    padding: 14px;
    margin: 10px 0 20px;
    background-color: #444;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    min-width: 0;
    height: 50px;
}

.add-service-container textarea {
    resize: none;
}

.add-service-container .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.add-service-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.add-service-container form input,
.add-service-container form textarea {
    margin-bottom: 20px;
    width: 100% !important;
}

.add-service-container .checkboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.add-service-container .checkbox-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
}

.add-service-container .checkbox-item label {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.add-service-container .checkbox-item input {
    margin-left: auto;
    width: 18px !important;
    height: 18px !important;
    margin-right: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .add-service-container {
        padding: 15px;
    }
    .add-service-container .checkboxes {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .add-service-container .checkbox-item {
        height: auto;
        padding: 8px;
        width: 100%;
    }
    .add-service-container .checkbox-item label {
        font-size: 14px;
    }
    .add-service-container .checkbox-item input {
        width: 18px !important;
        height: 18px !important;
    }
    .add-service-container .checkbox-item {
        max-width: 100%;
    }
}
